#overview-main{
    height: 80vh;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#overview-main #graphs{
    width: 50%;
}

/*Nested Flex Box*/
#overview-main #flex{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#overview-main #piechart, #summary{
    width: 100%;
    height: 50%;
}

#overview-main #summary{
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#overview-main #summary .text-inactive{
    display: none;
}
#overview-main #summary .text-active{
    margin: auto;
}